/*----- Global -----*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #111;
    font-size: 18px;
}

h2 {
    font-family: 'Martel', serif;
    font-size: 52px;
    font-weight: 300;
    margin: 0;
}

h3 {
    font-family: 'Martel', serif;
    font-size: 28px;
    font-weight: 300;
    margin: 0;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

p {
    line-height: 150%;
    color: #555;
    margin: 0;
}

.motif {
    height: 140px;
    background-size: cover;
    background-position: top;
}

.text-blurb {
    color: #555;
    font-size: 20px;
}

.num {
    border: 1px solid #bbb;
    height: 50px;
    flex: 0 0 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
    background-color: #fff;
}

.logo {
    font-family: 'Martel', serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.frame {
    flex: 0 0 auto;
    height: 160px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.center-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.frame-border {
    border: 4px solid #fff;
    outline: 1px solid #555;
    margin-top: 20px;
    box-sizing: border-box;
}

.p-serif {
    font-family: 'Martel', serif;
    font-size: 16px;
}

.inpt {
    border: 1px solid #ccc;
    height: 48px;
    text-indent: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    width: 100%;
}

.inpt::placeholder {
    color: #aaa;
}

.textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    text-indent: 0;
}

.label {
    margin-bottom: 10px;
    font-weight: 700;
    display: block;
}

.checkbox-input {
    display: none;
}

.checkbox-label {
    border: 1px solid #ccc;
    color: #111;
    background: #fff;
    flex: 1;
    text-align: center;
    box-sizing: border-box;
    display: block;
    padding: 20px 0;
}

.checkbox-input:checked + .checkbox-label {
    background-color: #eaffc4;
}

.checkbox-label img {
    width: 60px;
}

.text-color-lt {
    color: #ccc;
}

.text-color-md {
    color: #777;
}

.block {
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.align-right {
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.m-btm-md {
    margin-bottom: 20px;
}

.m-btm-sm {
    margin-bottom: 10px;
}

.m-btm-md {
    margin-bottom: 20px;
}

.m-btm-lg {
    margin-bottom: 60px;
}

.m-top-sm {
    margin-top: 10px;
}

.m-top-md {
    margin-top: 20px;
}

.m-top-lg {
    margin-top: 60px;
}

/*----- Header -----*/
.header-content {
    height: 60px;
    align-items: center;
}

.header-logo {
    font-family: 'Martel', serif;
    text-decoration: none;
    color: #111;
}

.header-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    font-size: 13px;
    margin-right: 20px;
}

.header-link:last-child {
    margin-right: 0;
}

/*----- Footer -----*/
.footer-content {
    height: 100px;
    align-items: center;
}

.footer-logo {
    font-family: 'Martel', serif;
    text-decoration: none;
    color: #555;
}

/*----- Button -----*/
.button {
    border-width: 1px;
    font-weight: 600;
    border-style: solid;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

.button-primary {
    border-color: #dca795;
    color: #fff;
    background-color: #dca795;
}

.button-secondary {
    border-color: #111111;
    color: #111;
}

.button-lg {
    height: 48px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    padding: 0 30px;
    border-radius: 48px;
}

/*----- GRID -----*/
.col {
    margin-right: 20px;
    box-sizing: border-box;
}
.col:last-child {
    margin-right: 0;
}
.one { width: 70px; }
.two { width: 160px; }
.three { width: 250px; }
.four { width: 340px; }
.five { width: 430px; }
.six { width: 520px; }
.seven { width: 610px; }
.eight { width: 700px; }
.nine { width: 790px; }
.ten { width: 880px; }
.eleven { width: 970px; }
.twelve { width: 1060px; }
.h-one { height: 70px; }
.h-two { height: 160px; }
.h-three { height: 250px; }
.h-four { height: 340px; }

/*----- HOME -----*/
.wrapper {
    padding: 40px 0;
}

.tan {
    background-color: #faf8f8;
}

.gray {
    background-color: #25282d;
    color: #fff;
}

.home-info-box {
    background-color: #fff;
    padding: 20px 40px;
    box-sizing: border-box;
}

.home-num {
    border: 1px solid #111;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 20px;
}

.price-box {
    box-sizing: border-box;
    padding: 30px;
    border-top: 10px solid #dca795;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
}

/*----- Progress -----*/
.progress-span {
    height: 4px;
    flex: 1;
    background-color: #ddd;
}

.progress {
    background-color: #1C453B;
}

/*----- Garden -----*/
.garden-tasks label {
    flex: 0 0 auto;
}

.no-m-right {
    margin-right: 0;
}

/*----- Nav -----*/
.nav {
    border-bottom: 1px solid #eee;
    margin-bottom: 60px;
}

.nav-link {
    margin: 10px 20px 0 0;
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
    color:#111;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link-selected {
    border-bottom-color: #1C453B;
}

#messages {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
}

.message-author {
    font-weight: 700;
    margin-right: 20px;
}

.message-date {
    color: #aaa;
}

.splash {
    background-image: url("imgs/splash.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
}

.no-wrap {
    flex-wrap: nowrap;
    overflow: hidden;
}

/*  #Mobile 
================================================== */
@media (max-width: 400px) {
    .flex {
        justify-content: center;
    }
    .col {
        width: 100% !important;
        margin-right: 0;
        text-align: center;
    }

    .container {
        padding: 0 20px;
    }
}