/*----- Global -----*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #111;
    font-size: 18px;
}

@font-face {
    font-family: 'Chloe';
    src: url(fonts/chloe.otf);
}

h2 {
    font-family: 'Martel', serif;
    font-size: 52px;
    font-weight: 300;
    margin: 0;
}

h3 {
    font-family: 'Martel', serif;
    font-size: 28px;
    font-weight: 300;
    margin: 0;
}

h4 {
    font-family: 'Martel', serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

p {
    line-height: 150%;
    color: #555;
    margin: 0;
}

.text-blurb {
    color: #555;
    font-size: 20px;
}

.num {
    border: 1px solid #bbb;
    height: 50px;
    flex: 0 0 50px;
    line-height: 50px;
    text-align: center;
    align-self: flex-start;
    background-color: #fff;
}

.logo {
    font-family: 'Chloe', serif;
    font-size: 48px;
}

.frame {
    flex: 0 0 auto;
    height: 160px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.center-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.frame-border {
    border-radius: 170px;
    margin-top: 20px;
    box-sizing: border-box;
}

.designer-img {
    height: 160px;
    width: 160px;
    border-radius: 80px;
}

.capitalize {
    text-transform: capitalize;
}

.radio-input {
    display: none;
}

.radio-label {
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.radio-label.three:nth-of-type(4n) {
    margin-right: 0;
}

.radio-label.four:nth-of-type(3n) {
    margin-right: 0;
}

.radio-border {
    border: 1px solid #ccc;
}

.radio-label:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    border-color: #555;
}

.radio-input:checked + .radio-label {
    border-color: #111;
    outline: 2px solid #111;
}

.inpt {
    border: none;
    border-bottom: 1px solid #111;
    height: 54px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-indent: 10px;
    outline: none;
}

.inpt::placeholder {
    color: #aaa;
}

.p-serif {
    font-family: 'Martel', serif;
    font-size: 16px;
}

.textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    text-indent: 0;
}

.block {
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.align-right {
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.m-btm-md {
    margin-bottom: 20px;
}

.m-btm-sm {
    margin-bottom: 10px;
}

.m-btm-md {
    margin-bottom: 20px;
}

.m-btm-lg {
    margin-bottom: 60px;
}

.m-top-sm {
    margin-top: 10px;
}

.m-top-md {
    margin-top: 20px;
}

.m-top-lg {
    margin-top: 60px;
}

/*----- Footer -----*/
.footer-content {
    height: 100px;
    align-items: center;
}

.footer-logo {
    font-family: 'Martel', serif;
    text-decoration: none;
    color: #555;
}

/*----- Button -----*/
.button {
    border-width: 1px;
    font-weight: 600;
    border-style: solid;
    box-sizing: border-box;
    font-family: 'Martel', serif;
    text-decoration: none;
    display: inline-block;
}

.button-primary {
    border-color: #f9e5de;
    color: #111;
    background-color: #f9e5de;
}

.button-secondary {
    border-color: #111111;
    color: #111;
}

.button-lg {
    height: 48px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    padding: 0 60px;
}

/*----- GRID -----*/
.col {
    margin-right: 20px;
    box-sizing: border-box;
}
.col:last-child {
    margin-right: 0;
}
.one { width: 70px; }
.two { width: 160px; }
.three { width: 250px; }
.four { width: 340px; }
.five { width: 430px; }
.six { width: 520px; }
.seven { width: 610px; }
.eight { width: 700px; }
.nine { width: 790px; }
.ten { width: 880px; }
.eleven { width: 970px; }
.twelve { width: 1060px; }
.h-one { height: 70px; }
.h-two { height: 160px; }
.h-three { height: 250px; }
.h-four { height: 340px; }

/*----- HOME -----*/
.wrapper {
    padding: 40px 0;
}

.tan {
    background-color: #f8f8f8;
}

.price-box {
    box-sizing: border-box;
    padding: 30px;
    border-top: 10px solid #f9e5de;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
}

/*----- Progress -----*/
.progress-span {
    height: 4px;
    flex: 1;
    background-color: #ddd;
}

.progress {
    background-color: #f9e5de;
}

/*  #Mobile 
================================================== */
@media (max-width: 400px) {
    .flex {
        justify-content: center;
    }
    .col {
        width: 100% !important;
        margin-right: 0;
        text-align: center;
    }

    .container {
        padding: 0 20px;
    }
}